.audio-button {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    border-style: solid;
    background-color: aqua;
    border-color: white;
    padding: 10px;
    border-radius: 15%;
}
/* .audio-button {

} */